.App {
  background-color: #1E555C;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-container
{
  display: flex;
  flex-wrap: wrap;
  max-width: 410px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}